<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Final Year Project</title>
</head>

<body>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/1.jpg" height="600" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="background-color: black; text-align: center;">Agricultural Field Delineation</h3>
                    <p style="background-color: black; text-align: center;">Using Deep Learning Techniques</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="static/2.jpg" height="600" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="background-color: black; text-align: center;">Agricultural Field Delineation</h3>
                    <p style="background-color: black; text-align: center;">Using Deep Learning Techniques</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="static/3.jpg" height="600" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 style="background-color: black; text-align: center;">Agricultural Field Delineation</h3>
                    <p style="background-color: black;  text-align: center;">Using Deep Learning Techniques</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container-fluid">
        <br><br>
        <h1 style="text-align: center;">ABSTRACT</h1>
        <p style="text-align: center;">A machine learning model that will be able to identify, demark and measure crop
            fields in the provided
            satellite or drone image. Additionally, the model will be able to identify the type of crop(s) present in
            the
            field. The model will be completely functional and ready to deploy by the end of the project duration.</p>


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Conventional Approach</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <input type="file" name="conventional" id="conventional">
                            <button type="submit" class="btn btn-primary">Process</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Machine Learning Approach</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <input type="file" disabled name="machinelearning">
                            <button type="submit" class="btn btn-primary" disabled>Coming Soon</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <br><br><br>
    <h5 style="text-align: center;">Project Members: Ateeq ur Rehman, Amna Javed, Arbaz Khan, Umar Naveed</h5>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>